<a href="https://colab.research.google.com/github/Sebastiao199/Project3MRS/blob/main/ML_RecSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

import nltk
from nltk.stem import WordNetLemmatizer
nltk.download(["punkt","stopwords","wordnet"])
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df_ml_100_vect=pd.read_pickle('https://github.com/Sebastiao199/Project3MRS/blob/main/2_MachineLearning/df_ml_100_vect.pickle?raw=truet')
df_ml_100_vect

,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres
0,0,tt0000009,1894,45,Romance,5.2,200.0,Miss Jerry,Romance
1,1,tt0000574,1906,70,"Action,Adventure,Biography",6.0,794.0,The Story of the Kelly Gang,Action
4,2,tt0000591,1907,90,Drama,5.1,20.0,The Prodigal Son,Drama
5,6,tt0000679,1908,120,"Adventure,Fantasy",5.2,66.0,The Fairylogue and Radio-Plays,Adventure
7,8,tt0000941,1909,45,Drama,4.5,23.0,Locura de amor,Drama
...,...,...,...,...,...,...,...,...,...
439521,271786,tt9916170,2019,51,Drama,7.0,7.0,The Rehearsal,Drama
439522,271787,tt9916190,2020,95,"Action,Adventure,Thriller",3.7,238.0,Safeguard,Action
439525,271788,tt9916270,2020,84,Thriller,5.8,1370.0,Il talento del calabrone,Thriller
439526,271789,tt9916362,2020,92,"Drama,History",6.4,4976.0,Coven,Drama
439528,271791,tt9916538,2019,123,Drama,8.3,6.0,Kuambil Lagi Hatiku,Drama

In [4]:
# df_ml_100_vect['title_year'] = df_ml_100_vect['startYear_x'] + df_ml_100_vect['primaryTitle']

In [5]:
df_ml_100_vect.columns

Index(['index', 'tconst', 'startYear_x', 'runtimeMinutes_x', 'genres_x',
       'averageRating', 'numVotes', 'primaryTitle', 'genres'],
      dtype='object')

In [36]:
#scaler = preprocessing.StandardScaler()
scaler_minmax = preprocessing.MinMaxScaler()
df_to_standard = df_ml_100_vect[['startYear_x', 'runtimeMinutes_x', 'averageRating', 'numVotes']]
#standard_df = scaler.fit_transform(df_to_standard)
standard_df = scaler_minmax.fit_transform(df_to_standard)
standard_df = pd.DataFrame(standard_df, columns = ['startYear_x', 'runtimeMinutes_x', 'averageRating', 'numVotes'])

In [37]:
standard_df.rename(columns={'startYear_x': 'startYear_st', 'runtimeMinutes_x': 'runtimeMinutes_st', 'averageRating': 'averageRating_st', 'numVotes': 'numVotes_st'}, inplace=True)

In [38]:
standard_df

        startYear_st  runtimeMinutes_st  averageRating_st   numVotes_st
0           0.000000           0.000856          0.466667  7.333336e-05
1           0.093023           0.001342          0.555556  2.967181e-04
2           0.100775           0.001731          0.455556  5.641028e-06
3           0.108527           0.002314          0.466667  2.294018e-05
4           0.116279           0.000856          0.388889  6.769233e-06
...              ...                ...               ...           ...
248429      0.968992           0.000972          0.666667  7.521370e-07
248430      0.976744           0.001828          0.300000  8.762396e-05
248431      0.976744           0.001614          0.533333  5.133335e-04
248432      0.976744           0.001770          0.600000  1.869437e-03
248433      0.968992           0.002373          0.811111  3.760685e-07

[248434 rows x 4 columns]

In [40]:
#df_ml_100_vect.reset_index(inplace = True)

In [41]:
df_after_standard = pd.concat([df_ml_100_vect, standard_df], axis = 1)
df_after_standard

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,startYear_st,runtimeMinutes_st,averageRating_st,numVotes_st
0,0,0,tt0000009,1894,45,Romance,5.2,200.0,Miss Jerry,Romance,0.000000,0.000856,0.466667,7.333336e-05
1,1,1,tt0000574,1906,70,"Action,Adventure,Biography",6.0,794.0,The Story of the Kelly Gang,Action,0.093023,0.001342,0.555556,2.967181e-04
2,4,2,tt0000591,1907,90,Drama,5.1,20.0,The Prodigal Son,Drama,0.100775,0.001731,0.455556,5.641028e-06
3,5,6,tt0000679,1908,120,"Adventure,Fantasy",5.2,66.0,The Fairylogue and Radio-Plays,Adventure,0.108527,0.002314,0.466667,2.294018e-05
4,7,8,tt0000941,1909,45,Drama,4.5,23.0,Locura de amor,Drama,0.116279,0.000856,0.388889,6.769233e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248429,439521,271786,tt9916170,2019,51,Drama,7.0,7.0,The Rehearsal,Drama,0.968992,0.000972,0.666667,7.521370e-07
248430,439522,271787,tt9916190,2020,95,"Action,Adventure,Thriller",3.7,238.0,Safeguard,Action,0.976744,0.001828,0.300000,8.762396e-05
248431,439525,271788,tt9916270,2020,84,Thriller,5.8,1370.0,Il talento del calabrone,Thriller,0.976744,0.001614,0.533333,5.133335e-04
248432,439526,271789,tt9916362,2020,92,"Drama,History",6.4,4976.0,Coven,Drama,0.976744,0.001770,0.600000,1.869437e-03
248433,439528,271791,tt9916538,2019,123,Drama,8.3,6.0,Kuambil Lagi Hatiku,Drama,0.968992,0.002373,0.811111,3.760685e-07

# Nova secção

In [42]:
wordnet_lemmatizer = WordNetLemmatizer()

#def lemm(text):
 #   text = wordnet_lemmatizer.lemmatize(text)
  #  return text

def cleaning(text):
    # turn into list
    tokens = nltk.word_tokenize(text)
    # tokens_lower = list(map(lambda t: t.lower(), tokens))
    #tokens = list(filter(remove_stopwords, tokens))  
    #tokens = list(map(lemm, tokens))
    return " ".join(tokens)

df_after_standard['genre_clean'] = df_after_standard['genres_x'].apply(cleaning)
df_after_standard#.reset_index(inplace=True)

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,startYear_st,runtimeMinutes_st,averageRating_st,numVotes_st,genre_clean
0,0,0,tt0000009,1894,45,Romance,5.2,200.0,Miss Jerry,Romance,0.000000,0.000856,0.466667,7.333336e-05,Romance
1,1,1,tt0000574,1906,70,"Action,Adventure,Biography",6.0,794.0,The Story of the Kelly Gang,Action,0.093023,0.001342,0.555556,2.967181e-04,"Action , Adventure , Biography"
2,4,2,tt0000591,1907,90,Drama,5.1,20.0,The Prodigal Son,Drama,0.100775,0.001731,0.455556,5.641028e-06,Drama
3,5,6,tt0000679,1908,120,"Adventure,Fantasy",5.2,66.0,The Fairylogue and Radio-Plays,Adventure,0.108527,0.002314,0.466667,2.294018e-05,"Adventure , Fantasy"
4,7,8,tt0000941,1909,45,Drama,4.5,23.0,Locura de amor,Drama,0.116279,0.000856,0.388889,6.769233e-06,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248429,439521,271786,tt9916170,2019,51,Drama,7.0,7.0,The Rehearsal,Drama,0.968992,0.000972,0.666667,7.521370e-07,Drama
248430,439522,271787,tt9916190,2020,95,"Action,Adventure,Thriller",3.7,238.0,Safeguard,Action,0.976744,0.001828,0.300000,8.762396e-05,"Action , Adventure , Thriller"
248431,439525,271788,tt9916270,2020,84,Thriller,5.8,1370.0,Il talento del calabrone,Thriller,0.976744,0.001614,0.533333,5.133335e-04,Thriller
248432,439526,271789,tt9916362,2020,92,"Drama,History",6.4,4976.0,Coven,Drama,0.976744,0.001770,0.600000,1.869437e-03,"Drama , History"
248433,439528,271791,tt9916538,2019,123,Drama,8.3,6.0,Kuambil Lagi Hatiku,Drama,0.968992,0.002373,0.811111,3.760685e-07,Drama

In [ ]:
#df_ml_100_vect=df_ml_100_vect.tail(n=90000)
#df_ml_100_vect=df_ml_100_vect.head(139000)

In [43]:
cv = CountVectorizer()
GenreX = cv.fit_transform(df_after_standard["genre_clean"]).toarray()

print("Count Vector : \n",GenreX)
print("\nNote: First row of above count vector: ",GenreX[0])
print("\nColumns Coresponding to above count vector is :\n",cv.get_feature_names_out())
print(GenreX.shape)
X_df=pd.DataFrame(GenreX, columns=['action', 'adult' ,'adventure' ,'animation' ,'biography' ,'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi', 'game', 'history', 'horror', 'music' ,'musical' ,'mystery' ,'news' ,'reality' ,'romance', 'sci', 'short', 'show', 'sport', 'talk', 'thriller', 'tv' ,'war', 'western'])

output = pd.concat([df_after_standard, X_df], join='inner', ignore_index=False, axis=1)
output

Count Vector :
 [[0 0 0 ... 0 0 0]
 [1 0 1 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

Note: First row of above count vector:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]

Columns Coresponding to above count vector is :
 ['action' 'adult' 'adventure' 'animation' 'biography' 'comedy' 'crime'
 'documentary' 'drama' 'family' 'fantasy' 'fi' 'game' 'history' 'horror'
 'music' 'musical' 'mystery' 'news' 'reality' 'romance' 'sci' 'short'
 'show' 'sport' 'talk' 'thriller' 'tv' 'war' 'western']
(248434, 30)

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,...,romance,sci,short,show,sport,talk,thriller,tv,war,western
0,0,0,tt0000009,1894,45,Romance,5.2,200.0,Miss Jerry,Romance,...,1,0,0,0,0,0,0,0,0,0
1,1,1,tt0000574,1906,70,"Action,Adventure,Biography",6.0,794.0,The Story of the Kelly Gang,Action,...,0,0,0,0,0,0,0,0,0,0
2,4,2,tt0000591,1907,90,Drama,5.1,20.0,The Prodigal Son,Drama,...,0,0,0,0,0,0,0,0,0,0
3,5,6,tt0000679,1908,120,"Adventure,Fantasy",5.2,66.0,The Fairylogue and Radio-Plays,Adventure,...,0,0,0,0,0,0,0,0,0,0
4,7,8,tt0000941,1909,45,Drama,4.5,23.0,Locura de amor,Drama,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248429,439521,271786,tt9916170,2019,51,Drama,7.0,7.0,The Rehearsal,Drama,...,0,0,0,0,0,0,0,0,0,0
248430,439522,271787,tt9916190,2020,95,"Action,Adventure,Thriller",3.7,238.0,Safeguard,Action,...,0,0,0,0,0,0,1,0,0,0
248431,439525,271788,tt9916270,2020,84,Thriller,5.8,1370.0,Il talento del calabrone,Thriller,...,0,0,0,0,0,0,1,0,0,0
248432,439526,271789,tt9916362,2020,92,"Drama,History",6.4,4976.0,Coven,Drama,...,0,0,0,0,0,0,0,0,0,0
248433,439528,271791,tt9916538,2019,123,Drama,8.3,6.0,Kuambil Lagi Hatiku,Drama,...,0,0,0,0,0,0,0,0,0,0

In [49]:
output.to_csv('movies_reco_system.csv',index = False)

In [ ]:
output.columns

In [44]:
X=output[['startYear_st', 'runtimeMinutes_st', 'averageRating_st', 'numVotes_st', 'action', 'adult', 'adventure', 'animation', 'biography',
       'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi',
       'game', 'history', 'horror', 'music', 'musical', 'mystery', 'news',
       'reality', 'romance', 'sci', 'short', 'show', 'sport', 'talk',
       'thriller', 'tv', 'war', 'western']]     

model = NearestNeighbors(n_neighbors=5)

model.fit(X)

NearestNeighbors()

In [45]:
array_1, array_2 = model.kneighbors(output.loc[output['primaryTitle'] == 'Titanic', ['startYear_st', 'runtimeMinutes_st', 'averageRating_st', 'numVotes_st', 'action', 'adult', 'adventure', 'animation', 'biography',
       'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi',
       'game', 'history', 'horror', 'music', 'musical', 'mystery', 'news',
       'reality', 'romance', 'sci', 'short', 'show', 'sport', 'talk',
       'thriller', 'tv', 'war', 'western']])

In [ ]:
print(array_1, array_2)

In [46]:
#How to turn array in a list
index_array = array_2
#index_list = index_array.tolist()
index_list = index_array.flatten().tolist() #to appear in vertical
index_list

index_df = pd.DataFrame(index_list).rename(columns={0:'Index_array'})
index_df

    Index_array
0         12675
1          6735
2         16015
3         76533
4         12131
5         18784
6         20300
7         19910
8         16692
9         18175
10        61119
11        60482
12       102001
13       148776
14       108848
15       243264
16       229131
17       243056
18       229408
19       232974

In [47]:
output.drop(['level_0'], axis=1, inplace=True)
output.reset_index(inplace=True)
output

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,...,romance,sci,short,show,sport,talk,thriller,tv,war,western
0,0,0,tt0000009,1894,45,Romance,5.2,200.0,Miss Jerry,Romance,...,1,0,0,0,0,0,0,0,0,0
1,1,1,tt0000574,1906,70,"Action,Adventure,Biography",6.0,794.0,The Story of the Kelly Gang,Action,...,0,0,0,0,0,0,0,0,0,0
2,2,2,tt0000591,1907,90,Drama,5.1,20.0,The Prodigal Son,Drama,...,0,0,0,0,0,0,0,0,0,0
3,3,6,tt0000679,1908,120,"Adventure,Fantasy",5.2,66.0,The Fairylogue and Radio-Plays,Adventure,...,0,0,0,0,0,0,0,0,0,0
4,4,8,tt0000941,1909,45,Drama,4.5,23.0,Locura de amor,Drama,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248429,248429,271786,tt9916170,2019,51,Drama,7.0,7.0,The Rehearsal,Drama,...,0,0,0,0,0,0,0,0,0,0
248430,248430,271787,tt9916190,2020,95,"Action,Adventure,Thriller",3.7,238.0,Safeguard,Action,...,0,0,0,0,0,0,1,0,0,0
248431,248431,271788,tt9916270,2020,84,Thriller,5.8,1370.0,Il talento del calabrone,Thriller,...,0,0,0,0,0,0,1,0,0,0
248432,248432,271789,tt9916362,2020,92,"Drama,History",6.4,4976.0,Coven,Drama,...,0,0,0,0,0,0,0,0,0,0
248433,248433,271791,tt9916538,2019,123,Drama,8.3,6.0,Kuambil Lagi Hatiku,Drama,...,0,0,0,0,0,0,0,0,0,0

In [48]:
#Merge array with Output
Output_final=index_df.merge(output, how='left', left_on='Index_array', right_on='level_0')
Output_final

,Index_array,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,...,romance,sci,short,show,sport,talk,thriller,tv,war,western
0,12675,12675,13185,tt0036443,1943,85,"Action,Drama,History",6.2,1596.0,Titanic,...,0,0,0,0,0,0,0,0,0,0
1,6735,6735,7187,tt0027078,1936,87,"Action,Drama,History",6.4,44.0,Tarass Boulba,...,0,0,0,0,0,0,0,0,0,0
2,16015,16015,16563,tt0041940,1949,101,"Action,Drama,History",6.6,298.0,Sword in the Desert,...,0,0,0,0,0,0,0,0,0,0
3,76533,76533,79511,tt0186414,1951,132,"Action,Drama,History",6.7,68.0,Five Men of Edo,...,0,0,0,0,0,0,0,0,0,0
4,12131,12131,12636,tt0035616,1943,124,"Action,Drama,History",7.0,3461.0,Air Force,...,0,0,0,0,0,0,0,0,0,0
5,18784,18784,19367,tt0046435,1953,98,"Drama,History,Romance",7.0,7158.0,Titanic,...,1,0,0,0,0,0,0,0,0,0
6,20300,20300,20916,tt0048820,1955,98,"Drama,History,Romance",7.1,1934.0,Princess Yang Kwei-fei,...,1,0,0,0,0,0,0,0,0,0
7,19910,19910,20520,tt0048264,1955,101,"Drama,History,Romance",6.9,48.0,Knyazhna Meri,...,1,0,0,0,0,0,0,0,0,0
8,16692,16692,17251,tt0043093,1950,110,"Drama,History,Romance",7.1,181.0,Till We Meet Again,...,1,0,0,0,0,0,0,0,0,0
9,18175,18175,18755,tt0045552,1948,100,"Drama,History,Romance",7.0,66.0,Beszterce ostroma,...,1,0,0,0,0,0,0,0,0,0
10,61119,61119,62622,tt0120338,1997,194,"Drama,Romance",7.9,1165458.0,Titanic,...,1,0,0,0,0,0,0,0,0,0
11,60482,60482,61969,tt0119217,1997,126,"Drama,Romance",8.3,961478.0,Good Will Hunting,...,1,0,0,0,0,0,0,0,0,0
12,102001,102001,108279,tt0332280,2004,123,"Drama,Romance",7.8,571714.0,The Notebook,...,1,0,0,0,0,0,0,0,0,0
13,148776,148776,161375,tt1343092,2013,143,"Drama,Romance",7.2,543566.0,The Great Gatsby,...,1,0,0,0,0,0,0,0,0,0
14,108848,108848,116815,tt0388795,2005,134,"Drama,Romance",7.7,357361.0,Brokeback Mountain,...,1,0,0,0,0,0,0,0,0,0
15,243264,243264,266188,tt8852130,2018,115,Family,4.8,14.0,Titanic,...,0,0,0,0,0,0,0,0,0,0
16,229131,229131,250608,tt6594244,2018,87,Family,4.8,62.0,Megan's Christmas Miracle,...,0,0,0,0,0,0,0,0,0,0
17,243056,243056,265962,tt8814298,2018,82,Family,4.8,8.0,Gibor Ba'Ananim,...,0,0,0,0,0,0,0,0,0,0
18,229408,229408,250915,tt6639058,2017,137,Family,4.7,7.0,Julieum 4 Perum,...,0,0,0,0,0,0,0,0,0,0
19,232974,232974,254878,tt7165516,2017,93,Family,4.7,46.0,So Help Us God,...,0,0,0,0,0,0,0,0,0,0