<a href="https://colab.research.google.com/github/Sebastiao199/Project3MRS/blob/main/ML_RecSystem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

import nltk
from nltk.stem import WordNetLemmatizer
nltk.download(["punkt","stopwords","wordnet"])
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
df_ml_100_vect=pd.read_pickle('https://github.com/Sebastiao199/Project3MRS/blob/main/2_MachineLearning/df_ml_100_vect.pickle?raw=truet')
df_ml_100_vect

,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres
0,0,tt0000009,1894,45,Romance,5.2,200.0,Miss Jerry,Romance
1,1,tt0000574,1906,70,"Action,Adventure,Biography",6.0,794.0,The Story of the Kelly Gang,Action
4,2,tt0000591,1907,90,Drama,5.1,20.0,The Prodigal Son,Drama
5,6,tt0000679,1908,120,"Adventure,Fantasy",5.2,66.0,The Fairylogue and Radio-Plays,Adventure
7,8,tt0000941,1909,45,Drama,4.5,23.0,Locura de amor,Drama
...,...,...,...,...,...,...,...,...,...
439521,271786,tt9916170,2019,51,Drama,7.0,7.0,The Rehearsal,Drama
439522,271787,tt9916190,2020,95,"Action,Adventure,Thriller",3.7,238.0,Safeguard,Action
439525,271788,tt9916270,2020,84,Thriller,5.8,1370.0,Il talento del calabrone,Thriller
439526,271789,tt9916362,2020,92,"Drama,History",6.4,4976.0,Coven,Drama
439528,271791,tt9916538,2019,123,Drama,8.3,6.0,Kuambil Lagi Hatiku,Drama

In [ ]:
cond1 = df_ml_100_vect['numVotes']>6000
df_ml_5_vect = df_ml_100_vect[cond1]
df_ml_5_vect

,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres
227,217,tt0004972,1915,195,"Drama,History,War",6.2,24939.0,The Birth of a Nation,Drama
489,428,tt0006864,1916,163,"Drama,History",7.7,15704.0,Intolerance,Drama
1074,849,tt0009968,1919,90,"Drama,Romance",7.3,10450.0,Broken Blossoms,Drama
1178,922,tt0010323,1920,76,"Horror,Mystery,Thriller",8.0,64491.0,The Cabinet of Dr. Caligari,Horror
1429,1087,tt0011237,1920,76,"Fantasy,Horror",7.2,7846.0,The Golem,Fantasy
...,...,...,...,...,...,...,...,...,...
439372,271685,tt9893250,2020,118,"Comedy,Crime,Drama",6.3,132874.0,I Care a Lot,Comedy
439388,271694,tt9894470,2019,92,"Action,Crime,Horror",6.1,8590.0,VFW,Action
439411,271709,tt9898858,2020,88,"Action,Comedy,Crime",5.1,13818.0,Coffee & Kareem,Action
439437,271724,tt9900782,2019,145,"Action,Adventure,Crime",8.5,32043.0,Kaithi,Action
439475,271753,tt9907782,2021,111,"Fantasy,Horror,Mystery",6.2,11211.0,The Cursed,Fantasy

In [ ]:
# df_ml_100_vect['title_year'] = df_ml_100_vect['startYear_x'] + df_ml_100_vect['primaryTitle']

In [ ]:
df_ml_5_vect.columns

Index(['index', 'tconst', 'startYear_x', 'runtimeMinutes_x', 'genres_x',
       'averageRating', 'numVotes', 'primaryTitle', 'genres'],
      dtype='object')

In [ ]:
#scaler = preprocessing.StandardScaler()
scaler_minmax = preprocessing.MinMaxScaler()
df_to_standard = df_ml_5_vect[['startYear_x', 'runtimeMinutes_x', 'averageRating', 'numVotes']]
#standard_df = scaler.fit_transform(df_to_standard)
standard_df = scaler_minmax.fit_transform(df_to_standard)
standard_df = pd.DataFrame(standard_df, columns = ['startYear_x', 'runtimeMinutes_x', 'averageRating', 'numVotes'])

In [ ]:
standard_df.rename(columns={'startYear_x': 'startYear_st', 'runtimeMinutes_x': 'runtimeMinutes_st', 'averageRating': 'averageRating_st', 'numVotes': 'numVotes_st'}, inplace=True)

In [ ]:
standard_df

       startYear_st  runtimeMinutes_st  averageRating_st  numVotes_st
0          0.000000           0.287908          0.597701     0.007138
1          0.009346           0.226488          0.770115     0.003657
2          0.037383           0.086372          0.724138     0.001677
3          0.046729           0.059501          0.804598     0.022046
4          0.046729           0.059501          0.712644     0.000695
...             ...                ...               ...          ...
13696      0.981308           0.140115          0.609195     0.047821
13697      0.971963           0.090211          0.586207     0.000976
13698      0.981308           0.082534          0.471264     0.002946
13699      0.971963           0.191939          0.862069     0.009816
13700      0.990654           0.126679          0.597701     0.001964

[13701 rows x 4 columns]

In [ ]:
df_ml_5_vect.reset_index(inplace = True)

In [ ]:
df_after_standard = pd.concat([df_ml_5_vect, standard_df], axis = 1)
df_after_standard

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,startYear_st,runtimeMinutes_st,averageRating_st,numVotes_st
0,227,217,tt0004972,1915,195,"Drama,History,War",6.2,24939.0,The Birth of a Nation,Drama,0.000000,0.287908,0.597701,0.007138
1,489,428,tt0006864,1916,163,"Drama,History",7.7,15704.0,Intolerance,Drama,0.009346,0.226488,0.770115,0.003657
2,1074,849,tt0009968,1919,90,"Drama,Romance",7.3,10450.0,Broken Blossoms,Drama,0.037383,0.086372,0.724138,0.001677
3,1178,922,tt0010323,1920,76,"Horror,Mystery,Thriller",8.0,64491.0,The Cabinet of Dr. Caligari,Horror,0.046729,0.059501,0.804598,0.022046
4,1429,1087,tt0011237,1920,76,"Fantasy,Horror",7.2,7846.0,The Golem,Fantasy,0.046729,0.059501,0.712644,0.000695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13696,439372,271685,tt9893250,2020,118,"Comedy,Crime,Drama",6.3,132874.0,I Care a Lot,Comedy,0.981308,0.140115,0.609195,0.047821
13697,439388,271694,tt9894470,2019,92,"Action,Crime,Horror",6.1,8590.0,VFW,Action,0.971963,0.090211,0.586207,0.000976
13698,439411,271709,tt9898858,2020,88,"Action,Comedy,Crime",5.1,13818.0,Coffee & Kareem,Action,0.981308,0.082534,0.471264,0.002946
13699,439437,271724,tt9900782,2019,145,"Action,Adventure,Crime",8.5,32043.0,Kaithi,Action,0.971963,0.191939,0.862069,0.009816
13700,439475,271753,tt9907782,2021,111,"Fantasy,Horror,Mystery",6.2,11211.0,The Cursed,Fantasy,0.990654,0.126679,0.597701,0.001964

# Nova secção

In [ ]:
wordnet_lemmatizer = WordNetLemmatizer()

#def lemm(text):
 #   text = wordnet_lemmatizer.lemmatize(text)
  #  return text

def cleaning(text):
    # turn into list
    tokens = nltk.word_tokenize(text)
    # tokens_lower = list(map(lambda t: t.lower(), tokens))
    #tokens = list(filter(remove_stopwords, tokens))  
    #tokens = list(map(lemm, tokens))
    return " ".join(tokens)

df_after_standard['genre_clean'] = df_after_standard['genres_x'].apply(cleaning)
df_after_standard#.reset_index(inplace=True)

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,startYear_st,runtimeMinutes_st,averageRating_st,numVotes_st,genre_clean
0,227,217,tt0004972,1915,195,"Drama,History,War",6.2,24939.0,The Birth of a Nation,Drama,0.000000,0.287908,0.597701,0.007138,"Drama , History , War"
1,489,428,tt0006864,1916,163,"Drama,History",7.7,15704.0,Intolerance,Drama,0.009346,0.226488,0.770115,0.003657,"Drama , History"
2,1074,849,tt0009968,1919,90,"Drama,Romance",7.3,10450.0,Broken Blossoms,Drama,0.037383,0.086372,0.724138,0.001677,"Drama , Romance"
3,1178,922,tt0010323,1920,76,"Horror,Mystery,Thriller",8.0,64491.0,The Cabinet of Dr. Caligari,Horror,0.046729,0.059501,0.804598,0.022046,"Horror , Mystery , Thriller"
4,1429,1087,tt0011237,1920,76,"Fantasy,Horror",7.2,7846.0,The Golem,Fantasy,0.046729,0.059501,0.712644,0.000695,"Fantasy , Horror"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13696,439372,271685,tt9893250,2020,118,"Comedy,Crime,Drama",6.3,132874.0,I Care a Lot,Comedy,0.981308,0.140115,0.609195,0.047821,"Comedy , Crime , Drama"
13697,439388,271694,tt9894470,2019,92,"Action,Crime,Horror",6.1,8590.0,VFW,Action,0.971963,0.090211,0.586207,0.000976,"Action , Crime , Horror"
13698,439411,271709,tt9898858,2020,88,"Action,Comedy,Crime",5.1,13818.0,Coffee & Kareem,Action,0.981308,0.082534,0.471264,0.002946,"Action , Comedy , Crime"
13699,439437,271724,tt9900782,2019,145,"Action,Adventure,Crime",8.5,32043.0,Kaithi,Action,0.971963,0.191939,0.862069,0.009816,"Action , Adventure , Crime"
13700,439475,271753,tt9907782,2021,111,"Fantasy,Horror,Mystery",6.2,11211.0,The Cursed,Fantasy,0.990654,0.126679,0.597701,0.001964,"Fantasy , Horror , Mystery"

In [ ]:
#df_ml_100_vect=df_ml_100_vect.tail(n=90000)
#df_ml_100_vect=df_ml_100_vect.head(139000)

In [ ]:
cv = CountVectorizer()
GenreX = cv.fit_transform(df_after_standard["genre_clean"]).toarray()

print("Count Vector : \n",GenreX)
print("\nNote: First row of above count vector: ",GenreX[0])
print("\nColumns Coresponding to above count vector is :\n",cv.get_feature_names_out())
print(GenreX.shape)
X_df=pd.DataFrame(GenreX, columns=['action', 'adult', 'adventure' ,'animation' ,'biography', 'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi', 'history' ,'horror' ,'music', 'musical', 'mystery' ,'news' ,'reality', 'romance' ,'sci' ,'sport' ,'thriller','tv', 'war' ,'western'])
output = pd.concat([df_after_standard, X_df], join='inner', ignore_index=False, axis=1)
output

Count Vector :
 [[0 0 0 ... 0 1 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [1 0 0 ... 0 0 0]
 [1 0 1 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

Note: First row of above count vector:  [0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0]

Columns Coresponding to above count vector is :
 ['action' 'adult' 'adventure' 'animation' 'biography' 'comedy' 'crime'
 'documentary' 'drama' 'family' 'fantasy' 'fi' 'history' 'horror' 'music'
 'musical' 'mystery' 'news' 'reality' 'romance' 'sci' 'sport' 'thriller'
 'tv' 'war' 'western']
(13701, 26)

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,...,mystery,news,reality,romance,sci,sport,thriller,tv,war,western
0,227,217,tt0004972,1915,195,"Drama,History,War",6.2,24939.0,The Birth of a Nation,Drama,...,0,0,0,0,0,0,0,0,1,0
1,489,428,tt0006864,1916,163,"Drama,History",7.7,15704.0,Intolerance,Drama,...,0,0,0,0,0,0,0,0,0,0
2,1074,849,tt0009968,1919,90,"Drama,Romance",7.3,10450.0,Broken Blossoms,Drama,...,0,0,0,1,0,0,0,0,0,0
3,1178,922,tt0010323,1920,76,"Horror,Mystery,Thriller",8.0,64491.0,The Cabinet of Dr. Caligari,Horror,...,1,0,0,0,0,0,1,0,0,0
4,1429,1087,tt0011237,1920,76,"Fantasy,Horror",7.2,7846.0,The Golem,Fantasy,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13696,439372,271685,tt9893250,2020,118,"Comedy,Crime,Drama",6.3,132874.0,I Care a Lot,Comedy,...,0,0,0,0,0,0,0,0,0,0
13697,439388,271694,tt9894470,2019,92,"Action,Crime,Horror",6.1,8590.0,VFW,Action,...,0,0,0,0,0,0,0,0,0,0
13698,439411,271709,tt9898858,2020,88,"Action,Comedy,Crime",5.1,13818.0,Coffee & Kareem,Action,...,0,0,0,0,0,0,0,0,0,0
13699,439437,271724,tt9900782,2019,145,"Action,Adventure,Crime",8.5,32043.0,Kaithi,Action,...,0,0,0,0,0,0,0,0,0,0
13700,439475,271753,tt9907782,2021,111,"Fantasy,Horror,Mystery",6.2,11211.0,The Cursed,Fantasy,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
#output.to_csv('movies_reco_system_5.csv',index = False)

In [ ]:
output.columns

Index(['level_0', 'index', 'tconst', 'startYear_x', 'runtimeMinutes_x',
       'genres_x', 'averageRating', 'numVotes', 'primaryTitle', 'genres',
       'startYear_st', 'runtimeMinutes_st', 'averageRating_st', 'numVotes_st',
       'genre_clean', 'action', 'adult', 'adventure', 'animation', 'biography',
       'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi',
       'history', 'horror', 'music', 'musical', 'mystery', 'news', 'reality',
       'romance', 'sci', 'sport', 'thriller', 'tv', 'war', 'western'],
      dtype='object')

In [ ]:
X=output[['startYear_st', 'runtimeMinutes_st', 'averageRating_st', 'numVotes_st', 'action', 'adult', 'adventure' ,'animation' ,'biography', 'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi', 'history' ,'horror' ,'music', 'musical', 'mystery' ,'news' ,'reality', 'romance' ,'sci' ,'sport' ,'thriller','tv', 'war' ,'western']]     

model = NearestNeighbors(n_neighbors=5)

model.fit(X)

NearestNeighbors()

In [ ]:
array_1, array_2 = model.kneighbors(output.loc[output['primaryTitle'] == 'Titanic', ['startYear_st', 'runtimeMinutes_st', 'averageRating_st', 'numVotes_st', 
                                                                                          'action', 'adult', 'adventure' ,'animation' ,'biography', 'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'fi', 'history' ,'horror' ,'music', 'musical', 'mystery' ,'news' ,'reality', 'romance' ,'sci' ,'sport' ,'thriller','tv', 'war' ,'western']])

In [ ]:
print(array_1, array_2)

In [ ]:
#How to turn array in a list
index_array = array_2
#index_list = index_array.tolist()
index_list = index_array.flatten().tolist() #to appear in vertical
index_list

index_df = pd.DataFrame(index_list).rename(columns={0:'Index_array'})
index_df

   Index_array
0          424
1           97
2         2436
3         3111
4         2951
5         4193
6         4068
7         5722
8         8948
9         6217

In [ ]:
output.drop(['level_0'], axis=1, inplace=True)
output.reset_index(inplace=True)
output

,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,genres,...,mystery,news,reality,romance,sci,sport,thriller,tv,war,western
0,0,217,tt0004972,1915,195,"Drama,History,War",6.2,24939.0,The Birth of a Nation,Drama,...,0,0,0,0,0,0,0,0,1,0
1,1,428,tt0006864,1916,163,"Drama,History",7.7,15704.0,Intolerance,Drama,...,0,0,0,0,0,0,0,0,0,0
2,2,849,tt0009968,1919,90,"Drama,Romance",7.3,10450.0,Broken Blossoms,Drama,...,0,0,0,1,0,0,0,0,0,0
3,3,922,tt0010323,1920,76,"Horror,Mystery,Thriller",8.0,64491.0,The Cabinet of Dr. Caligari,Horror,...,1,0,0,0,0,0,1,0,0,0
4,4,1087,tt0011237,1920,76,"Fantasy,Horror",7.2,7846.0,The Golem,Fantasy,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13696,13696,271685,tt9893250,2020,118,"Comedy,Crime,Drama",6.3,132874.0,I Care a Lot,Comedy,...,0,0,0,0,0,0,0,0,0,0
13697,13697,271694,tt9894470,2019,92,"Action,Crime,Horror",6.1,8590.0,VFW,Action,...,0,0,0,0,0,0,0,0,0,0
13698,13698,271709,tt9898858,2020,88,"Action,Comedy,Crime",5.1,13818.0,Coffee & Kareem,Action,...,0,0,0,0,0,0,0,0,0,0
13699,13699,271724,tt9900782,2019,145,"Action,Adventure,Crime",8.5,32043.0,Kaithi,Action,...,0,0,0,0,0,0,0,0,0,0
13700,13700,271753,tt9907782,2021,111,"Fantasy,Horror,Mystery",6.2,11211.0,The Cursed,Fantasy,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
#Merge array with Output
Output_final=index_df.merge(output, how='left', left_on='Index_array', right_on='level_0')
Output_final

,Index_array,level_0,index,tconst,startYear_x,runtimeMinutes_x,genres_x,averageRating,numVotes,primaryTitle,...,mystery,news,reality,romance,sci,sport,thriller,tv,war,western
0,424,424,19367,tt0046435,1953,98,"Drama,History,Romance",7.0,7158.0,Titanic,...,0,0,0,1,0,0,0,0,0,0
1,97,97,6391,tt0025746,1934,104,"Drama,History,Romance",7.5,6668.0,The Scarlet Empress,...,0,0,0,1,0,0,0,0,0,0
2,2436,2436,48866,tt0093206,1988,91,"Drama,History,Romance",7.3,9203.0,Red Sorghum,...,0,0,0,1,0,0,0,0,0,0
3,3111,3111,54820,tt0104181,1992,105,"Drama,History,Romance",6.7,13527.0,Wuthering Heights,...,0,0,0,1,0,0,0,0,0,0
4,2951,2951,53511,tt0101640,1991,125,"Drama,History,Romance",8.1,32990.0,Raise the Red Lantern,...,0,0,0,1,0,0,0,0,0,0
5,4193,4193,62622,tt0120338,1997,194,"Drama,Romance",7.9,1165458.0,Titanic,...,0,0,0,1,0,0,0,0,0,0
6,4068,4068,61969,tt0119217,1997,126,"Drama,Romance",8.3,961478.0,Good Will Hunting,...,0,0,0,1,0,0,0,0,0,0
7,5722,5722,108279,tt0332280,2004,123,"Drama,Romance",7.8,571714.0,The Notebook,...,0,0,0,1,0,0,0,0,0,0
8,8948,8948,161375,tt1343092,2013,143,"Drama,Romance",7.2,543566.0,The Great Gatsby,...,0,0,0,1,0,0,0,0,0,0
9,6217,6217,116815,tt0388795,2005,134,"Drama,Romance",7.7,357361.0,Brokeback Mountain,...,0,0,0,1,0,0,0,0,0,0